<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>胡升权的博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{template "common/link.html"}}
</head>
<body class="lay-blog">
		{{template "common/header.html" .}}
		<div class="container-wrap">
			<div class="container">
					<div class="contar-wrap">
						<h4 class="item-title">
							<p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的博客</span></p>
						</h4>
						{{range .notes}}
						<div class="item">
							{{template "common/note_summary_tpl.html" .}}
							<div class="comment count">
								<a href="/comment/{{.Key}}">
									<button class="layui-btn layui-btn-radius layui-btn-normal" style="padding: 0 50px">评论</button></a>
								<a href="javascript:;" class="like" data-type="note" data-key="{{.Key}}">
									<button class="layui-btn layui-btn-radius layui-btn-normal" style="padding: 0 50px">点赞</button></a>
							</div>
						</div>
						{{end}}
					</div>
					<div class="item-btn">
						{{if gt .page 1}}
							<button class="layui-btn layui-btn-normal"
								onclick="window.location.href='/?page={{add .page -1}}&title={{.title}}'"
							>上一页</button>
						{{end}}
						{{if lt .page .totpage}}
						<button class="layui-btn layui-btn-normal"
								onclick="window.location.href='/?page={{add .page 1}}&title={{.title}}'"
						>下一页</button>
						{{end}}
					</div>
			</div>
		</div>
		{{template "common/js.html"}}
		{{template "common/footer.html" .}}
</body>
</html>